.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}
.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 40%;
  border: none;
  padding: 10px;
}
.search-button {
  background: #ace0f9;
  border: none;
  padding: 10px;
  color: white;
}
.recipe {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
h1 {
  padding-top: 20px;
  margin-bottom: 0px;
  text-align: center;
}
